.backstage{
    margin-top:60px;
    position: relative;
    top: 0px;
    right: 0;
}
.backstage__flower{
    position: absolute;
    top: -120px;
    right: 0;
    

}
.backstage__wrapper{
    display: flex;
    justify-content: space-between;
}
.backstage-img img{
    width: 609px;
}
.backstage-block{
    width: 465px;
    color:$color-background;
    margin-bottom: 180px;
    & p{
        @include font($size: 1.6rem, $height: 2.2rem);
    }
}
.backstage__h2{
    margin-bottom: 20px;
}
.backstage__h4{
    margin-top: 54px;
    margin-bottom: 34px;
}