.backstage{
    margin-top:60px;
    position: relative;
    top: 0px;
    right: 0;
}
.backstage__flower{
    position: absolute;
    top: -120px;
    right: 0;
    

}
.backstage__wrapper{
    display: flex;
    justify-content: space-between;
}
.backstage-img{
    overflow: hidden;
    //width: 45%;
    background-position: center;
    object-fit: cover;

}
.backstage-img img{
    overflow: hidden;
    
}
.backstage-block{
    padding-left:31px;
    color:$color-background;
    max-width:54%;
    margin-bottom: 175px;
    & p{
        @include font($size: 1.6rem, $height: 2.2rem);
    }
}
.backstage__h2{
    margin-bottom: 20px;
}
.backstage__h4{
    margin-top: 54px;
    margin-bottom: 34px;
}

@media screen and (max-width: 1500px){
    .backstage__flower{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .backstage-block{
        margin-bottom: 142px;
}
}
@media screen and (max-width: 950px){
    .backstage-img img{
        display: none;
    }
    .backstage-block{
        max-width:100%;
}
}