.button-link{
  background: $color-hover;
  width: 298px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  & a{
   color:$color-font-header;
   text-align: center;
   text-transform: uppercase;
   @include font($size: 1.6rem, $height: 2.2rem, $weight:500)
  }
}
.button{
  background: $color-hover;
  color: $color-font-header;
  text-transform: uppercase;
  @include font($size: 1.6rem, $height: 2.2rem, $weight:500);
  width: 298px;
  height: 54px;
  border-radius: 5px;
}
.button__submit{
  background-color: $background-button-submit;
  color: $color-submit;
  width: 129px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid $color-submit;
}